<div class="text">

	<div class="container blogBoxCont">
		<div class="row headerRow">

			<div class="col-8">
                {{!-- pulled from the blog model within the comment model --}}
				<h2 class="blogTitle text-uppercase">{{title}}</h2>
			</div>

			<div class="col-4">
                {{!-- pulled from user models, which is imported into the blog model, which is int he comment model --}}
                {{!-- imported format_date from helpers --}}
				<p class="blogCreate text-right">Created by {{user.username}} on {{format_date date_created}}</p>
			</div>

		</div>
        {{!-- imported from blog within the comment model --}}
		<p class="text-center blogDescTwo">{{description}}</p>
	</div>	

</div>




{{#if logged_in}}

{{!-- pulled from blog model --}}
<form class="new-comment-form formCont d-flex flex-wrap justify-content-center" data-blogid={{id}}>

	<div class="textAreaCont p-2">
		<textarea id='comment_description' name="comment-body"
				placeholder="Start typing your comment..."
				cols="30"
				rows="2"></textarea>
	</div>

	<div class="btnComment p-2">
		<button class="button btn btn-success" type="submit">Add comment</button>
	</div>

</form>


{{/if}}

<h2 class="text-center">Comments</h2>

{{#each comments as |comment|}}

{{!-- pulled from comment model, and user model (imported into comment model) --}}
<div class="commentCont">

	<p class="text-center commentText">{{comment.comment_description}}</p>
    
	<p class="text-center commentOwner"><span>~</span>Created by {{comment.user.username}} on {{format_date date_created}}</p>

</div>

{{/each}}



<script src="/js/comments.js"></script>